.main {
  margin: auto;
  width: 50%;
}

.btn {
  background-color: #c6bdb4;
  width: 100%;
  border-radius: 10px;
  border: none;
}

form {
  margin-bottom: 10px;
}

form div {
  margin-bottom: 10px;
}
