.main-div {
  margin: 20px 30px 20px 30px;
  background: linear-gradient(
    298.1deg,
    #716c68 0%,
    rgba(113, 108, 104, 0) 95.65%
  );

  width: 75%;
  margin: auto;
}

.main-div div {
  margin: 10px;
  color: #472019;
  padding: 30px 0 30px 0;
}

.main-div div p {
  font-size: large;
  margin-top: 20px;
}
